
<div class="d-flex flex-column">
  <img src="../../../assets/elements/info/shutterstock-1090201790-1.jpg" alt="">
  <h3 class="font-regular mt-3 mb-3">{{"Vat.INFO" | translate}}</h3>
  <h5 class="font-bold">Terms and Conditions</h5>
  <p class="mt-2 font-regular">
    The VAT refund will apply under the following conditions:
    <br>
    <br>
    Minimum purchase amount - Minimum transaction value on the day of purchase that entitles tourists to a VAT refund,
    stands at a total of 125 NIS including VAT.
    <br>
    <br>
    The purchase was made at a business approved by the Israeli Tax Authority and the Ministry of Tourism, as a business
    for a VAT refund to the tourist (on the window or door of the business there will be a sticker indicating that it is
    an approved business for the tourist).
    <br>
    <br>
    At the time of purchase, the tourists received a tax invoice and a dedicated document, which they will present to
    the clerk of the company "Milgam Services Ltd.", which operates the VAT refund service for tourists, upon leaving
    the country.
    <br>
    <br>
    When purchasing the goods, the tourists must make sure that all the details and details of the tourists are filled
    in correctly in the designated document and the tax invoice.
    <br>
    <br>
    The goods were purchased for the personal use of the tourists only and in non-commercial quantities.
  </p>
</div>
