.vs
/Easyvat.Api/bin
/Easyvat.Api/obj

/Easyvat.Common/bin
/Easyvat.Common/obj

/Easyvat.Model/bin
/Easyvat.Model/obj

/Easyvat.Models/bin
/Easyvat.Models/obj

/Easyvat.Services/bin
/Easyvat.Services/obj

/Easyvat.SupplierApi/bin
/Easyvat.SupplierApi/obj

/shoppingTouristsSqlApi/bin
/shoppingTouristsSqlApi/obj

/WebApp/.vscode