<div *ngFor="let data of purchaseSum">
  <div class="d-flex flex-row  onePurchaseNew" id="container" (click)="goToDet(data.id)">
    <img src="../../assets/icons/red.png" class="new" *ngIf="data.isNew">
    <div class="content d-flex flex-row">
      <img src="{{data.img}}" class="logoNoShop mr-3">
      <div class="d-flex flex-column justify-content-center details">
        <div class="d-flex flex-row justify-content-between">
          <div class="shopName font-regular-medium">{{data.shopName}}</div>
        </div>
        <div class="d-flex flex-row justify-content-between">
          <div class="font-regular-small">{{data.datePurchase | date:'shortDate' }}</div>
          <div class="font-regular-small">₪{{model?.Sum}}</div>
          <div class="sumVat font-green-small">₪{{model?.VatReclaim}}</div>
        </div>
      </div>
    </div>
  </div>
</div>