 <div class="d-flex flex-column">
 <div class="font-subtitle"> {{"PaymentDetails.HEADER" | translate}}</div>
 <div class=" summary d-flex flex-column text-center justify-content-between">  
    <app-payment-details></app-payment-details>
    <!-- <app-payment-details></app-payment-details> -->
 </div>
 <div class="text-center">
    <u><a routerLink="/addCreditCard/true" class="font-semibold font-link">{{"PaymentDetails.ACTIOTEXT1" | translate}}</a></u>
 </div>
 
</div>

<div class="text-center mt-5">
   <a  class="mt-5"><button type="button" class="btn btn-primary" routerLink="/home">Continue</button></a>
</div>


