div.itemDetails {
  width: 306px;
  height:490px;
  margin: 20px 34px 15px 0px; 
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(106, 114, 124, 0.22);
  background-color: #ffffff;
  }
  div.details{
    padding: 20px  0px 0px 30px;
  }
  div.ItemNumber{
    padding: 0px  0px 20px 0px;
  }
  hr{
    width:85%;
    height: 1px;
    background-color: #c0d1f2;
    text-align:left;margin-left:0
  }
  

  input
  {
    font-family: Barlow-Regular;
    color: #011154;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
